/* start main rules */
* {
  box-sizing: border-box;
}
body {
  font-size: 16px;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4
}

.p-message:last-of-type {
  border: none;
}

label {
  margin-bottom: 0;
}
.btn {
  font-size: 16px;
  font-weight: bold;
}

a {
  text-decoration: none !important;
}
/* end main rules */


/* start login form */
.form {
  max-width: 500px;
  margin: auto;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px
}

.login {
  margin: 150px auto;
}
.form h2 {
  text-align: center;
  padding: 20px;
  margin: 0;
  color: #757575;
}

.form div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  position: relative;
  color: #757575;
}

.form div i:not(.fa-star) {
  position: absolute;
  font-size: 20px;
}
.form div i.eye {
  margin-right: 10px;
  right: 0;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.form div i:not(.eye, .fa-star) {
  margin-left: 10px;
  left: 0;
}
.form input:not([type="checkbox"]) {
  height: 45px;
  font-size: 16px;
}

.form .form-control {
  background-color: #eaeaea;
  padding-left: 50px;
  box-shadow: none;
}

.form .btn {
  background-color: #008dde;
  border: none;
  font-size: 22px
}

/* end login form */

/* start navbar */
.navbar {
  border-radius: 0;
  margin-bottom: 0;
}

.navbar-brand {
  font-size: 1em;
}

.nav > li > a, .navbar-brand {
  padding: 15px 12px;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:focus,
.navbar-inverse .navbar-nav > .open > a:hover, 
.dropdown-menu {
  background-color: #3498db;
}
.dropdown-menu {
  min-width: 180px;
  padding: 0;
  font-size: 1em;
  border: none;
}
.dropdown-menu > li > a{
  color: white;
  padding: 10px 15px;
  transition: 0.3s ease-in-out padding;
}
.dropdown-menu> li > a:hover, 
.dropdown-menu> li > a:focus {
  padding-left: 20px;
  color: white;
  background-color: #8e44ad
}
/* end navbar */

/* start edit */
h1 {
  margin: 40px;
  color: #888;
  font-weight: bold;
  font-size: 55px
}

/* end edit */
/* start add */
.alert {
  margin: 10px auto;
  max-width: 500px;
}
strong {
  font-size: inherit;
}
/* end add */

/* start dashboard */
.home-stats .stat {
  padding: 20px;
  color: white;
  border-radius: 10px;
  font-weight: bold;
}

.home-stats .st-members {
  /* background-color: #3498db; */
  background-image: linear-gradient(to right, #00d2ff 0%, #3a7bd5 100%);
}

.home-stats .st-pending {
  /* background-color: #c0392b; */
  background: linear-gradient(90deg, rgb(54, 129, 216) 0%, rgb(171, 88, 255) 100%);
}

.home-stats .st-items {
  /* background-color: #d35400; */
  background: linear-gradient(90deg,rgb(207, 169, 247) 0%, rgb(157, 46, 189) 100%);
}

.home-stats .st-comments {
  /* background-color: #8e44ad; */
  background: linear-gradient(90deg,rgb(174, 80, 250) 0%, rgb(95, 6, 132) 100%);
}

.home-stats .stat span {
  display: block;
  font-size: 60px;

}

.home-stats .stat span a {
  text-decoration: none;
  color: white;
}

.latest {
  margin-top: 30px
}

.latest-users {
  margin-bottom: 0; 
}
.latest-users li {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.latest-users li:nth-child(odd) {
  background-color: #eee
}
.latest-users li .btn {
  padding: 2px 10px;
}
/* end dashboard */

/* start manage */
.main-table {
  box-shadow: 0 3px 10px #ccc;
  border-radius: 5px
}
.main-table th {
  text-align: center;
  background-color: #333;
  color: #fff
}

.main-table td {
  background-color: #fff;
  vertical-align: middle !important; 
}

.main-table .btn, 
.cat .btn {
  padding: 3px 10px;
  font-weight: bold;
}
/* end manage */

/* start category */
.form:not(.edit, .login, .Add) .form-control {
  padding-left: 12px;
}
.form div:has(span ~ label) {
  justify-content: flex-start;
  margin: 0;
  border-bottom: 2px solid #ccc;
}
.form:not(.edit, .login, .Add) div:last-of-type {
  margin-bottom: 10px;
}

.form div:has(span) input[type="radio"] {
  margin: 0 5px;
}
.form div:has(span) input[type=text] {
  font-weight: normal;
}

.form div span {
  font-weight: bold;
}

.form:not(.edit, .login) div > label.feild {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.form:not(.edit, .login) div > label:has(input[type="radio"]) {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  padding: 0 10px;
  margin: 0;
}

.categories .panel-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #888;
}

.categories .panel-heading > :first-child {
  font-weight: bold;
}

.categories .panel-heading .dropdown-menu a{
  display: block;
  color: white;
  padding: 10px 15px;
  transition: 0.3s ease-in-out padding;
}
.categories .panel-heading .dropdown-toggle {
  background: none;
  padding: 0;
  border: none;
}
.categories .panel-heading .dropdown-toggle:hover {
  color: #575757;
}

.categories .panel-heading .dropdown-toggle:focus,
.categories .panel-heading .dropdown-toggle:active {
  outline: none;
  transform: none;
  box-shadow: none;
  background: none;
}

.categories .panel-heading .dropdown-menu a:hover {
  padding-left: 20px;
  color: white;
  background-color: #8e44ad;
}

.categories .panel-heading .dropdown-menu .dropdown-header {
  padding: 3px 12px;
  font-weight: bold;
  font-size: 14px;
  color: #c8c8c8;
}

.categories .panel-body {
  padding: 10px;
}

.cat {
  border-bottom: 1px solid #ccc;
  padding: 10px 15px;
}

.cat:hover {
  background-color: #f5f5f5;
}

.cat:last-of-type {
  border-bottom: none;
}

.cat > div:has(h2) {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cat > div > h2 {
  margin: 0;
  font-weight: bold;
  color: #777;
}
.cat > div > div > a {
  margin-left: 10px;
}

.cat p {
  margin: 10px 0;
  color: #757575;
}

.cat .cat-details {
  max-height: 500px;
  visibility: visible;
  transition:all 0.3s ease-in;
}
.cat .cat-details.hide-details {
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  padding: 1px;
}

.cat > .cat-details > div > span {
  padding: 2px 5px;
  border-radius: 5px;
  margin-right: 10px;
  color: white;
  font-weight: bold;
}
.cat > .cat-details > div > span.visible {
  background-color: #28a745;
}

.cat > .cat-details > div > span.allow-comment {
  background-color: #ddb848;
}

.cat > .cat-details > div > span.allow-ads {
  background-color: #17a2b8; 
}

.cat > .cat-details > div > span.not-visible {
  background-color: #6c757d;
}

.cat > .cat-details > div > span.comment-disabled {
  background-color: #dc3545;
}

.cat > .cat-details > div > span.ads-disabled {
  background-color: #343a40;
}

/* end category */

/* start item */
.star i {
  cursor: pointer;
}

.star input {
  width: 0;
}

.star input:checked ~ i {
  color: gold;
}

label.feild.status {
  flex-direction: row !important;
}

.feild.status select {
  margin-left: 10px;
}
/* end item */